Never mention the notebook as Obsidian Vault. Always refer to it as "Notebook".

Notebook has all information about calendar, notes, journal, etc.

Everytime you use the Notebook read the `notebook` skill.

You must always use the memory_* tools to check for context or information.
And you must always save/update/delete information using memory_* tools.